@charset "UTF-8";

/* resets */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
}

*:before, *:after {
    box-sizing: border-box;
}


/* ---------------------------------- GENERAL -------------------------------- */

body {
    background-color: #3fbf9d;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    background-image: url("images/snow.png");
}

a {
    color: rgb(8, 185, 203);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Life Savers', cursive;
    letter-spacing: .15em;
    margin: 1.25em 0 .5em 0;
}

#wrapper {
    position: relative;
    width: 75%;
    min-width: 900px;
    max-width: 1100px;
    margin: auto;
    top: .5em;
}

.stripe {
    width: 100%;
    height: 40px;
    top: 38%;
    position: absolute;
    background-color: rgb(241, 230, 87);
}

.stripe:nth-of-type(1) {
    top: 43%;
}

.stripe:nth-last-of-type(2) {
    top: 48%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* ---------------------------------- HEADER -------------------------------- */

header {
    background-color: #FF729F;
    border-top: .15em solid white;
    height: 50em;
    width: 92%;
    border-radius: 50em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: auto;
    color: #fff;
}

header img {
    margin: 4% 0 0 12%;
    position: absolute;
}

header p {
    float: right;
    position: absolute;
    top: 20em;
    right: 10%;
    font-size: .8em;
    font-family: 'Life Savers', Courier, cursive;
}


/* ----------------------------------- NAV ---------------------------------- */

nav {
    height: 5em;
    width: 100%;
    line-height: 5.25em;
    margin-top: -32em;
    background-color: white;
    clip-path: polygon( 0 0, 100% 0, 99% 100%, 1% 100%);
    -webkit-clip-path: polygon( 0 0, 100% 0, 99% 100%, 1% 100%);
    -moz-clip-path: polygon( 0 0, 100% 0, 99% 100%, 1% 100%);
    text-align: center;
}

nav li {
    width: 5em;
    font-family: 'Life Savers', Courier, cursive;
    font-size: 1.2em;
    line-height: 3em;
    margin: .25em 2em;
    display: inline-block;
    letter-spacing: .05em;
}

nav a {
    text-decoration: none;
    display: block;
    transition: .3s background-color;
    width: 8em;
}

nav a:hover {
    background-image: url("images/spoon-inverse.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav a.active {
    font-weight: bold;
    background-image: url("images/spoon.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav a.active:hover {
    font-weight: bold;
    background-image: url("images/spoon-inverse.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}


/* ---------------------------------- CONTENT -------------------------------- */

#content {
    width: 96%;
    overflow: hidden;
    min-height: 10em;
    margin: 0 auto 2em auto;
    padding: 0em .75em 0em 0em;
    background: white;
    border-top: .25em groove rgb(212, 238, 251);
    overflow: hidden;
    clip-path: polygon( 0 0, 100% 0, 93% 100%, 7% 100%);
    -webkit-clip-path: polygon( 0 0, 100% 0, 93% 100%, 7% 100%);
    -moz-clip-path: polygon( 0 0, 100% 0, 93% 100%, 7% 100%);
}

#content img {
    width: 20em;
    display: block;
    margin: 0 auto 2em auto;
}


/* --------------------------------- SIDEBAR -------------------------------- */

#sidebar {
    width: 30%;
    float: left;
    height: 100%;
    min-height: 35em;
    background-color: #f4f7f9;
    border-right: 5em solid #eaf5fa;
    padding: 0 0 0 1.75em;
    margin: 0;
    /* TEXT FORMATTING */
    font-size: .75em;
    text-align: right;
    color: rgb(10, 70, 101);
}

#sidecontent {
    margin: 3.8em -3em 0 0;
}


/* ----------------------------------- MAIN --------------------------------- */

#maincol {
    width: 70%;
    /*min-height: 20em;*/
    float: right;
    position: relative;
    padding: 1em 4em 0em 2em;
    margin: 0 0 1em 0;
}


/* --------------------------------- FOOTER --------------------------------- */

footer {
    clear: both;
    text-align: center;
    padding: .5em;
    margin: 0;
    width: 100%;
    border-top: .15em solid rgb(212, 238, 251);
    text-align: center;
}

footer li {
    font-family: 'Life Savers', cursive;
    font-size: .5em;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 6em;
    border-bottom: none;
    line-height: 2em;
    letter-spacing: .15em;
    font-size: .8em;
}

footer a:hover {
    color: rgb(228, 223, 108);
}

footer a.active {
    font-weight: bold;
}

footer #stevie {
    font-size: .65em;
    letter-spacing: .15em;
    margin: .25em;
    display: inline-block;
}

footer #stevie a {
    display: inline;
    font-size: 1em;
}


/* --------------------------------- TABLES --------------------------------- */

table {
    border-collapse: collapse;
}

caption {
    text-align: left;
    font-family: 'Life Savers', cursive;
    letter-spacing: .15em;
    margin: .5em 0 0 0;
    font-size: 1.25em;
    font-weight: bold;
    padding: 1em 0 .5em 0;
    border-top: .15em solid rgb(212, 238, 251);
}


/* -------------------------------- FLAVORS --------------------------------- */

.flavors {
    width: 100%;
    text-align: center;
}

.flavors td {
    padding: 0;
    width: 33.3%;
    box-shadow: none;
    height: 2.45em;
    font-size: .8em;
}

.flavors td:hover {
    background-image: url("images/snowball.png");
    font-size: .8em;
    padding: 0;
    margin: 0;
    color: #ffffff;
    letter-spacing: .2em;
    border-radius: 3em;
    text-shadow: .05em .05em .2em #000000;
    text-transform: uppercase;
    font-weight: bold;
}


/* ------------------------------ BLOCKQUOTE -------------------------------- */

cite {
    font-size: .9em;
    font-weight: bold;
    font-family: 'Life Savers', cursive;
    letter-spacing: .15em;
    display: block;
    text-align: right;
    bottom: 0;
    padding: 0;
    margin: 0 -3em 0em 1em;
    bottom: 0;
}

blockquote {
    position: relative;
    width: 90%;
    padding: 2em 2em;
    margin: 2em auto;
    text-align: right;
    border-radius: 7em;
    color: rgb(10, 70, 101);
    background-image: url("images/snowball.png");
    background-repeat: repeat;
    box-shadow: 0 0 .75em .75em white inset;
}


/* ---------------------------------- MAP ----------------------------------- */

iframe {
    margin: 0 0 0 0;
    width: 100%;
}
